---
import Layout from "../layouts/Layout.astro";
import actividades from "../../public/images/actividades.jpg";
---

<Layout title="Actividades">
    <div class="flex flex-col items-center p-5 text-amber-50 m-auto h-screen">
        <img class="w-lg h-96" src={actividades.src} alt="" />
        <b class="text-2xl p-2">ACTIVIDADES</b>
        <p class="text-1xl p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
            accusamus hic minima quibusdam consectetur porro consequuntur
            numquam odio dolore provident! Quidem adipisci qui molestiae,
            perferendis at quasi corrupti totam odit. Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Vel facilis amet saepe similique,
            quas ipsum placeat nam aliquid consequatur sed quidem dolorem
            laboriosam corrupti, asperiores suscipit sint, a nihil ipsam. Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Explicabo nisi
            ad qui optio inventore nihil delectus iusto maiores nostrum eaque,
            debitis sed possimus aut exercitationem blanditiis obcaecati iste
            tenetur suscipit.
        </p>
    </div>
</Layout>
