---
import Layout from "../layouts/Layout.astro";
import Price from "../components/Price.astro";

import pix from "../../public/images/pix.jpg";
import seven from "../../public/images/seven.jpg";
import pix2 from "../../public/images/pix2.jpg";
---

<Layout title="Precios">
    <section class="grid grid-cols-3 gap-x-5 min-h-screen">
        <Price
            title="Contabilida"
            description="curso de contabilidad"
            precio="s/.1"
            imagen={pix.src}
        />
        <Price
            title="Ingenieria"
            description="curso de Ingenieria"
            precio="s/.2"
            imagen={seven.src}
        />
        <Price
            title="Marketing"
            description="curso de Marketing"
            precio="s/.3"
            imagen={pix2.src}
        />
    </section>
</Layout>
