---
import Layout from "../layouts/Layout.astro";
import proyectos from "../../public/images/proyectos.jpg";
---

<Layout title="Proyectos">
    <div class="flex flex-col items-center p-5 text-amber-50 m-auto h-screen">
        <img class="w-lg h-96" src={proyectos.src} alt="" />
        <b class="text-2xl p-2">PROYECTOS</b>
        <p class="text-1xl p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
            dignissimos ratione maiores iusto ullam vitae animi in! Mollitia cum
            earum pariatur. Rerum aut accusamus quo error dolor quae corporis
            qui? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Adipisci, dignissimos ratione maiores iusto ullam vitae animi in!
            Mollitia cum earum pariatur. Rerum aut accusamus quo error dolor
            quae corporis qui?
        </p>
    </div>
</Layout>
