---
import Layout from "../layouts/Layout.astro";
import temas from "../../public/images/temas.jpg";
---

<Layout title="Temas">
    <div class="flex flex-col items-center p-5 text-amber-50 m-auto h-screen">
        <img class="w-lg h-96" src={temas.src} alt="" />
        <b class="text-2xl p-2">TEMAS</b>
        <p class="text-1xl p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
            dignissimos ratione maiores iusto ullam vitae animi in! Mollitia cum
            earum pariatur. Rerum aut accusamus quo error dolor quae corporis
            qui? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit rem id repudiandae dicta laborum ad, non nemo animi labore
            mollitia officiis odit est, sit repellendus aliquid sed eius impedit
            consequuntur. Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Atque quisquam tenetur optio aut enim fuga aliquid similique,
            mollitia quod porro eum ex nemo provident officiis, cupiditate
            veniam pariatur aperiam dolorum. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Iure vero suscipit ea, saepe aliquam
            inventore ipsa, recusandae totam ipsum sunt voluptatibus quas!
            Animi, nam. Animi amet neque iste tempore alias. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Accusantium nostrum placeat
            iusto, aspernatur aut, vero asperiores dolore quae aliquam error
            minus laborum. Consequatur magni hic ex. Placeat quibusdam
            temporibus aliquid!
        </p>
    </div>
</Layout>
