<div class="w-auto">
    <a
        href="https://api.whatsapp.com/send?phone=519xx9xxxx1&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
        ><slot /></a
    >
</div>

<style>
    :root {
        --text-prin: #e0ffff;
        --text-sec: #f5f5f5;
        --fondo: #008080;
        --fondo-sec: #14111d;
        --texto-hover: #1a084e;
        --blue-border: #3d8df4;
        --green-text: #27d831;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-size: 0.8em;
        border-radius: 4px;
        padding: 12px;
        color: var(--text-prin);
        text-decoration: none;
        background: linear-gradient(to right, #ef4444, #b45309, #f59e0b);
        outline: 1px solid #00ffff;
    }
    a:hover {
        text-shadow: 0.2em 0.2em 0.2em #1e1541;
        transition: 0.5s all;
        opacity: 0.8;
    }
</style>
