---
const { title, enlace, tema } = Astro.props;
---

<div
    class="flex flex-col items-center justify-evenly rounded-b-sm p-4 transition-all border-4 border-orange-800 bg-blue-800 lg:rounded-2xl"
>
    <h1 class="text-orange-400">{title}</h1>
    <h2 class="text-blue-300">{tema}</h2>
    <a href={enlace}>Sobre {title}</a>
</div>

<style>
    h1,
    h2 {
        font-size: 1.1em;
        text-align: center;
    }

    a {
        font-size: 1em;
        text-decoration: none;
        padding: 12px;
        outline: 1px solid #14111d;
        border-radius: 6px;
        margin-top: 15px;
    }

    a:hover {
        background: linear-gradient(to top left, #1e293b, #6366f1, #71717a);
        color: #f5f5f5;
    }
</style>
