---
const { imagen, precio, title, description } = Astro.props;
---

<div class="card_precios">
    <img src={imagen} alt="" />
    <h1 class="title">{title}</h1>
    <p class="description">
        {description}
    </p>
    <h2 class="price">{precio}</h2>
</div>

<style>
    :root {
        --text-prin: #f2f2f2;
        --text-sec: #f5f5f5;
        --fondo: #1e1541;
        --fondo-sec: #14111d;
        --texto-hover: #1a084e;
        --blue-border: #3d8df4;
        --green-text: #27d831;
    }

    .card_precios {
        background-color: var(--text-sec);
        border-radius: 10px;
        color: var(--texto-prin);
        margin: auto;
        width: 80%;
        margin-top: 15px;
    }
    .card_precios img {
        height: auto;
        border-radius: 10px;
        width: 100%;
    }
    .card_precios h1 {
        font-weight: bold;
        padding-left: 15px;
    }
    .card_precios p {
        font-weight: lighter;
        padding-left: 15px;
    }
    .card_precios h2 {
        padding-left: 15px;
    }
</style>
