---
import Whatsapp from "../components/Whatsapp.astro";
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Page - {title}</title>
	</head>
	<body
		class="p-0 font-sans text-2xl box-border bg-gradient-to-bl from-[#0f172a] via-[#1e1a78] to-[#0f172a] m-auto relative"
	>
		<header
			class="sticky w-screen top-0 right-0 left-0 bg-gradient-to-b from-[#06b6d4] via-[#2563eb] to-[#6366f1]"
		>
			<div
				class="flex flex-col gap-y-7 sm:flex-row justify-center sm:justify-around sm:items-center py-3"
			>
				<div class="ls:w-2/5">
					<img
						class="h-20 w-20 rounded-4xl m-auto"
						src="./images/logo.png"
						alt="l"
					/>
				</div>
				<nav class="lg:w-3/5 flex justify-center items-center h-14">
					<ul
						class="flex justify-between items-center text-cyan-100 text-xl hover:text-cyan-50 gap-x-1 lg:w-1/2 sm:gap-x-2"
					>
						<li>
							<a
								class="no-underline list-none p-2 hover:bg-blue-300 shadow-2xs bg-blue-900 rounded-2xl hover:text-blue-950"
								href="./">Inicio</a
							>
						</li>
						<li>
							<a
								class="no-underline list-none p-2 hover:bg-blue-300 shadow-2xs bg-blue-900 rounded-2xl hover:text-blue-950"
								href="./#cursos">Cursos</a
							>
						</li>
						<li>
							<a
								class="no-underline list-none p-2 hover:bg-blue-300 shadow-2xs bg-blue-900 rounded-2xl hover:text-blue-950"
								href="../precios.html">Precios</a
							>
						</li>
						<li>
							<a
								class="no-underline list-none p-2 hover:bg-blue-300 shadow-2xs bg-blue-900 rounded-2xl hover:text-blue-950"
								href="https://api.whatsapp.com/send?phone=519xx9xxxx1&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
								><strong>Contacto</strong></a
							>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="container flex flex-col items-center m-auto">
			<slot />
		</main>
		<footer
			class="grid h-auto gap-y-8 sm:gap-y-2 lg:grid-cols-3 lg:h-48 pt-5 bg-gradient-to-b from-[#06b6d4] via-[#2563eb] to-[#6366f1]"
		>
			<div class="flex flex-col items-center">
				<h2
					class="text-2xl border-1 p-2 bg-cyan-600 text-yellow-50 rounded-2xl"
				>
					Servicio 1
				</h2>
				<ul>
					<li class="list-none my-2 mx-0 text-xl text-amber-50">
						<a href="">Lorem ipsum dolor sit.</a>
					</li>
					<li>
						<a class="text-xl text-amber-50 no-underline" href=""
							>Lorem ipsum dolor sit.</a
						>
					</li>
				</ul>
			</div>
			<div class="flex flex-col items-center">
				<h2
					class="text-2xl border-1 p-2 bg-cyan-600 text-yellow-50 rounded-2xl"
				>
					Servicio 3
				</h2>
				<ul>
					<li class="list-none my-2 mx-0 text-xl text-amber-50">
						<a href="">Lorem ipsum dolor sit.</a>
					</li>
					<li>
						<a class="text-xl text-amber-50 no-underline" href=""
							>Lorem ipsum dolor sit.</a
						>
					</li>
				</ul>
			</div>
			<div class="flex flex-col items-center">
				<h2
					class="text-2xl border-1 p-2 bg-cyan-600 text-yellow-50 rounded-2xl"
				>
					Servicio 3
				</h2>
				<ul>
					<li class="list-none my-2 mx-0 text-xl text-amber-50">
						<a href="">Lorem ipsum dolor sit.</a>
					</li>
					<li>
						<a class="text-xl text-amber-50 no-underline" href=""
							>Lorem ipsum dolor sit.</a
						>
					</li>
				</ul>
			</div>
		</footer>
		<Whatsapp />
	</body>
</html>
